<div class="my">
    <div class="m_first" ng-if="shownum==0">
        <img src="./imgs/my/my.jpg" alt="" width="100%">
        <div class="set" ng-click="choiceWeb(1)">
            <img src="./imgs/my/srt_btn.png" alt="" width="100%">
        </div>
        <div class="report" ng-click="choiceWeb(2)">
            <img src="./imgs/my/report.png" alt="" width="100%">
        </div>
    </div>
    <div class="m_second" ng-if="shownum==1">
        <img src="./imgs/my/set.png" alt="" width="100%">
    </div>
    <div class="m_third" ng-if="shownum==2" ng-click="choiceWeb(3)">
        <img src="./imgs/my/nop.png" alt="" width="100%">
    </div>
    <div class="m_fouth" ng-if="shownum==3">
        <img src="./imgs/my/truep.png" alt="" width="100%">
    </div>
</div>