<div class="shoplist nine">
    <div class="choiceTop">
        <div class="busi" ng-click='goBusiness()'>
            <img src="./imgs/shoplist/busi.png" height="100%">
        </div>
        <form>
            <label>
            <i><img src="./imgs/shoplist/fdj.png" height="100%;">&nbsp;</i>
            <input type="search" placeholder="&nbsp;&nbsp;点击搜索" ng-model="keyword" id="keyword">
          </label>
        </form>

    </div>
    <ul class="juzhen">
        <li>
            <img src="./imgs/nine/1.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/2.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/3.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/4.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/2.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/1.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/3.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/4.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/2.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/1.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/3.png" alt="" width="100%">
        </li>
        <li>
            <img src="./imgs/nine/4.png" alt="" width="100%">
        </li>
    </ul>
</div>