<ul class="shoplist">
    <div class="choiceTop">
        <div class="busi" ng-click='goBusiness()'>
            <img src="./imgs/shoplist/busi.png" height="100%">
        </div>
        <form>
            <label>
              <i><img src="./imgs/shoplist/fdj.png" height="100%;">&nbsp;</i>
              <input type="search" placeholder="&nbsp;&nbsp;点击搜索" ng-model="keyword" id="keyword">
            </label>
        </form>
        <div class="map" ng-click='goMap()'>
            <img src="./imgs/shoplist/map.png" height="100%">
        </div>
    </div>
    <ul class="list">
        <li ng-click="goShopInfo(1)">
            <img src="./imgs/shoplist/1.jpg" width="100%">
        </li>
        <li>
            <img src="./imgs/shoplist/2.jpg" width="100%">
        </li>
        <li>
            <img src="./imgs/shoplist/3.jpg" width="100%">
        </li>
        <li>
            <img src="./imgs/shoplist/4.jpg" width="100%">
        </li>
        <li>
            <img src="./imgs/shoplist/5.jpg" width="100%">
        </li>
        <li>
            <img src="./imgs/shoplist/1.jpg" width="100%">
        </li>
        <li>
            <img src="./imgs/shoplist/2.jpg" width="100%">
        </li>
        <li>
            <img src="./imgs/shoplist/3.jpg" width="100%">
        </li>
        <li>
            <img src="./imgs/shoplist/4.jpg" width="100%">
        </li>
        <li>
            <img src="./imgs/shoplist/5.jpg" width="100%">
        </li>

    </ul>
    </div>