<div class="shoplist">
    <div class="choiceTop">
        <div class="busi" ng-click='goBusiness()'>
            <img src="./imgs/shoplist/busi.png" height="100%">
        </div>
        <form>
            <label>
                <i><img src="./imgs/shoplist/fdj.png" height="100%;">&nbsp;</i>
                <input type="search" placeholder="&nbsp;&nbsp;点击搜索" ng-model="keyword" id="keyword">
            </label>
        </form>
        <div class="map" ng-click='goMap()'>
            <img src="./imgs/shoplist/map.png" height="100%">
        </div>
    </div>
    <ul class="list">

        <li ng-repeat="(index,item) in shopList" ng-click="goShopInfo(item)">
            <div class="left">
                <img ng-src="{{item.url}}" width="100%">
            </div>
            <div class="right">
                <div class="first">
                    {{item.name}}
                </div>
                <div class="second">
                    <img src="./image/desc.png" alt="">&nbsp;&nbsp;{{item.description}}
                </div>
            </div>
            <div class="next">
                <img src="./image/next.png" alt="" width="100%">
            </div>
        </li>

    </ul>
</div>