<div class="hotbusiness">

    <!-- 中山 -->
    <div class="nav1">
        <div class="imgsport" ng-click="goInfo(1)">
            <div class="imgsportbg">
                <div class="imgsportword">
                    <img src="./image/business3.png" alt="" height="100%">
                </div>
            </div>
        </div>
        <ul>
            <li ng-repeat="(index,item) in TradingAreaList[0]" ng-if='index<5' ng-click="goShopInfo(item.id)">
                <img ng-src="{{item.url}}" alt="" width="100%" >
                <p>{{item.name}}</p>
            </li>
            <li>
                <img src="./image/nav1_6.png" alt="" width="100%" ng-click="goShopList(0)">
            </li>
        </ul>
    </div>

    <!-- 新虹桥 -->
    <div class="nav2">
        <div class="imgsport" ng-click="goInfo(2)">
            <div class="imgsportbg">
                <div class="imgsportword">
                    <img src="./image/business2.png" alt="" height="100%">
                </div>
            </div>
        </div>
        <ul>
            <li ng-repeat="(index,item) in TradingAreaList[1]" ng-if='index<5' ng-click="goShopInfo(item.id)">
                <img ng-src="{{item.url}}" alt="" width="100%" >
                <p>{{item.name}}</p>
            </li>
            <li>
                <img src="./image/nav2_6.png" alt="" width="100%" ng-click="goShopList(1)">
            </li>
        </ul>
    </div>

    <!-- 临空 -->
    <div class="nav3">
        <div class="imgsport" ng-repeat="(index,item) in TradingAreaList[2]" ng-click="goShopInfo(item.id)">
            <div class="imgsportbg">
                <div class="imgsportword">
                    <img src="./image/business1.png" alt="" height="100%">
                    <p >凌空SOHO</p>
                </div>
            </div>
        </div>
    </div>
</div>